@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html,
    body,
    #root {
        min-height: 100%;
    }

    body {
        background-color: var(--color-slate-100);
        color: var(--color-slate-800);
    }

    .dark body {
        background-color: var(--color-slate-900);
        color: var(--color-slate-100);
    }
}
